<link rel="icon" href="{{BASE}}favicon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="{{BASE}}favicon.svg">
<meta name="theme-color" content="#161412">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,300;0,9..144,400;0,9..144,600;0,9..144,700;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600&family=Manrope:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{BASE}}assets/css/site.css">
